
$bodyColor: rgba(00, 00, 00, 0.93);
$toolboxColor: rgba(24, 24, 24, 0.9);
$canvasColor: rgb(245, 245, 245);
$hoverItems:rgb(53, 53, 53);
$linewidthColor: rgb(00,00,00);
$groupBorderColor: rgb(128, 128, 128);
